.card{
    margin: 20px 24px;
    padding: 16px;
    border-radius: 12px;
    background-color: var(--cor-secundaria);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.texto-card{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.titulo-card{
    font-size: 1em;
    font-weight: 700;
    color: var(--cor-titulo-menu);
    font-family: var(--fonte-principal);
}

.sub-titulo-card{
    font-size: 1.1em;
    font-weight: 700;
    color: var(--cor-fonte-card);
    font-family: var(--fonte-principal);
    margin: 15px 0;
}

.descricao-card{
    font-family: var(--fonte-principal);
    font-size: .87em;
    margin-bottom: 1em;
}

.saiba-mais{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao-card{
    background-color: var(--cor-titulo-menu);
    width: 145px;
    padding: 16px 8px;
    text-align: center;
    color: var(--cor-secundaria);
    font-size: 1em;
    font-weight: 700;
    font-family: var(--fonte-principal);
}

.botoes-saiba-mais{
    display: flex;
    margin-bottom: 1em;
    gap: 2em;
}

.estrelinhas{
    background-image: url(../img/Estrelinhas.svg);
    height: 15px;
    width: 90px;
    background-repeat: repeat-x;
    margin-bottom: 9px;
}

.angular-card{
    border-radius: 10px;
}

@media(min-width: 1024px){

    .card{
        width: 588px;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    .texto-card{
        flex-direction: row;
        gap: 32px;
    }

    .saiba-mais{
        flex-direction: row;
        justify-content: space-between;
    }
}