.titulo-carrosel{
    font-size: 1.1em;
    font-weight: 700;
    color: var(--cor-titulo-menu);
    font-family: var(--fonte-principal);
    text-align: center;
    background-color: var(--cor-secundaria);
    padding: 1.25em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
}

@media (min-width: 1024px){

    .swiper{
        margin: 0 160px;
    }

    .swiper-wrapper{
        text-align: center; 
        margin-top: 77px;
        margin-bottom: 60px;
    }

    .swiper-slide img{
        width: 150px;
    }
    
    .swiper-button-prev, .swiper-button-next{
        display: inline-block;
        margin: auto 0;
        background: var(--cor-azul-degrade);
        
    }
    
    .swiper-pagination{
        margin-top: 32px;
        position: initial;
    }
}