.banner{
    text-align: center;
    background: var(--cor-azul-degrade);    
    padding: 2em 2em;
}

.banner-texto{
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
}

.banner-titulo{

    font-weight: 700;
    font-size: 1.1em;
}

.banner-slogan{
    font-size: 1em;
    margin: 1.5em 0;
}

.banner-input{
    margin-bottom: 2em;
    width: 100%;
    padding: 0.8em;
    border-radius: 24px;
    border: 1px solid var(--cor-secundaria);
    background-color: transparent;
}

.banner-input::placeholder{
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    padding-left: 4em;
    font-weight: 400;
    font-size: 0.65em;
    background: url(../img/Pesquisa.svg) no-repeat;
    background-size: 2em;
    background-position: 0 50%;
}
