

.topicos{
    background: var(--cor-azul-degrade);
    padding-top: 24px;
}

.titulo-topicos{
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1em;
}

.topicos-recentes{   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.links-topicos{
    background-color: var(--cor-titulo-menu);
    padding: 24px 16px;
    font-family: var(--fonte-principal);
    text-align: center;
    font-size: 0.87em;
    color: var(--cor-secundaria);
    font-weight: 700;
    margin-bottom: 16px;
}

.contato{
    margin: 30px 24px;
}

.titulo-contato{
    font-size: 1.12em;
    font-family: var(--fonte-principal);
    font-weight: 500;
    background: var(--cor-azul-degrade); /* Degradê de cores */
    background-clip: text;
    -webkit-background-clip: text; /* Aplica o fundo ao texto */
    -webkit-text-fill-color: transparent; /* Torna o preenchimento do texto transparente */
}

.texto-contato{
    margin: 10px 0 24px 0;
    font-size: 1em;
    font-family: var(--fonte-principal);
    font-weight: 300;
    background: var(--cor-azul-degrade); /* Degradê de cores */
    background-clip: text;
    -webkit-background-clip: text; /* Aplica o fundo ao texto */
    -webkit-text-fill-color: transparent; /* Torna o preenchimento do texto transparente */
}

.contato-input{
    width: 100%;
    padding: 1em;
    border-radius: 24px;
    border: 1px solid var(--cor-fonte-card);
    background-color: transparent;
}

.contato-input::placeholder{
    font-family: var(--fonte-principal);
    color: var(--cor-fonte-card);
    padding-left: 2.5em;
    font-weight: 400;
    font-size: 1em;
    background: url(../img/Email.svg) no-repeat;
    background-position: 0 50%;
}

hr{
    margin: 0;
}

.grupo-alura{
    background-color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-size: 1em;
    padding: 1em;
}

.rodape-grupo-alura{
    display: none;
}

@media (min-width: 1024px){

    .topicos{
        background: var(--cor-azul-degrade);
        padding: 24px 0 24px 0;
    }

    .titulo-topicos{
        font-size: 1.5em;
        margin: 1em 0 2em 0;
    }

    .topicos-recentes{   
        gap: 1em;
        padding: 0 140px;
    }

    .links-topicos{
        padding: 32px 24px;
        font-size: 1.5em;
        font-weight: 600;
    }

    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 64px;
        padding: 50px;
    }

    .contato-input{
        width: 300px;
    }

    .titulo-contato{
        font-size: 1.5em;
    }
    
    .container-contato{
        width: 300px;
    }

    .grupo-alura{
        display: flex;
        gap: 106px;
        padding-top: 55px;
    }

    .grupo-alura-texto{
        font-size: 1.5em;
        font-weight: 400;
    }

    .titulo-educacao{
        font-size: 0.8em;
        color: var(--cor-cinza);
    }

    .grupo-alura-links{
        font-size: 0.8em;
    }

    .grupo-alura-ul{
        margin-top: 25px;
    }

    .grupo-alura-topicos{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        gap: 8px;
    }

    .grupo-alura-topicos a{
        color: var(--cor-fonte-links);
    }
}