.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: var(--cor-secundaria);
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    gap: 1em;
}

.container-menu{
    width: 1.5em;
    height: 1.5em;
    background-image: url(../img/Menu.svg);
    background-size: 2.2em;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho-menu{
    display:none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: var(--cor-secundaria);
    width: 60vw;
    height: 100vw;
    overflow: scroll;
}

.cabecalho-botao:checked~.cabecalho-menu{
    display: block;
}

.item-menu{
    font-family: "Poppins";
    padding: 1.5em 1.5em 1em 1.5em;
}

.menu-link{
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.menu-titulo{
    color: var(--cor-titulo-menu);
    font-size: 1em;
    font-weight: 700;
}

.cabecalho-botao{
    display: none;
}

.img-cabecalho{
    width: 1.8em;
}

.titulo-container{
    display: none;
}

.navegacao-container{
    display: none;
}

.titulo-container-icone{
    display: none;
}


@media (min-width: 1024px){

    .titulo-container-icone{
        display: none;
    }

    .container-menu{
        display: none;
    }

    .titulo-container{
        display: inline-block;
        font-family: var(--fonte-principal);
        font-size: 1.9em;
    }

    .destaque-titulo{
        font-weight: 700
    }

    .img-cabecalho{
        width: 2.5em;
    }

    .favoritos{
        display: none;
    }

    .container{
        gap: 2.5em;
    }

    .navegacao-container{
        display: flex;
        align-items: center;
        gap: 2em;
        font-family: var(--fonte-principal);
        font-size: 1em;
    }

    .navegacao-menu{
        display: none;
        position: absolute;
        top: 71%;
        background-color: var(--cor-secundaria);
    }

    .categoria-navegacao{
        display: none;
    }

    .titulo-nav{
        padding: 10px;
    }

    #categoria:checked + label .titulo-nav{
        background: var(--cor-azul-degrade);
        color: var(--cor-secundaria);
    }

    .nav-link{
        padding: 24px 30px 16px 24px;
        display: block;
        background: var(--cor-azul-degrade);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .nav-link:hover{
        background: var(--cor-azul-degrade);
        -webkit-text-fill-color: white; /* Cor sólida no hover */
        color: white; /* Para compatibilidade */
    }

    .categoria-navegacao:checked~.navegacao-menu{
        display: block;
    }

    .teste{
        display: flex;
        gap: 57px;
    }
  
}

@media (min-width: 1728px){
    
}