.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: var(--cor-secundaria);
    position: relative;
}

.container{
    display: flex;
    align-items: center;

    gap: 1em;
}

.container-menu{
    width: 1.5em;
    height: 1.5em;
    background-image: url(../img/Menu.svg);
    background-size: 2.2em;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho-menu{
    display:none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: var(--cor-secundaria);
    width: 60vw;
    height: 100vw;
    overflow: scroll;
}

.cabecalho-botao:checked~.cabecalho-menu{
    display: block;
}

.item-menu{
    font-family: "Poppins";
    padding: 1.5em 1.5em 1em 1.5em;
}

.menu-link{
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.menu-titulo{
    color: var(--cor-titulo-menu);
    font-size: 1em;
    font-weight: 700;
}

.cabecalho-botao{
    display: none;
}

.img-cabecalho{
    width: 1.8em;
}